# Generate multimodal travel time matrix (ttm)

This script is to generate a multimodal ttm for accessibility calculation in _r5_.<br/>
Modes: walking, biking, transit, car

It takes inspiration from https://github.com/rafapereirabr/otp-travel-time-matrix/blob/master/python_script.py

## 1. Variables definition and data import

In [42]:
# definitions
import sys
import numpy as np
import pandas as pd
import geopandas as gpd
import datetime as dt
import tracc
from r5py import TransportNetwork, TravelTimeMatrixComputer, TransitMode, LegMode
from datetime import datetime,date,timedelta
import matplotlib.pyplot as plt
sys.argv.append(["--max-memory", "8G"])


data_folder = "/Users/azanchetta/OneDrive - The Alan Turing Institute/demoland_data"


# regional level files: (require previous editing)
oas_centroids_file = f"{data_folder}/processed/OA_centroids_TyneWear.gpkg" # used for population origin
oas_file = f"{data_folder}/processed/authorities/OA_TyneWear.gpkg" # needed for visualisation purposes
region_lads_file = f"{data_folder}/processed/authorities/LADs_tynewear.shp" # needed in order to filter greenspace data within the regional boundaries
workingplacezones_centroids_file = f"{data_folder}/processed/authorities/WPZ_centroids_tynewear.gpkg"

# national level files
greenspace_file = f"{data_folder}/raw/accessibility/OS Open Greenspace (GPKG) GB/data/opgrsp_gb.gpkg"
osm_data_file = f"{data_folder}/raw/accessibility/tyne-and-wear-latest.osm.pbf"
gtfs_data_file = f"{data_folder}/raw/accessibility/itm_north_east_gtfs.zip"

In [4]:
# import

# origins (IE output areas, OAs)
oas_centroids = gpd.read_file(oas_centroids_file,
                              layer="OA_centroids_TyneWear")
oas_centroids['id'] = oas_centroids['OA11CD'] # Origin dataset must contain an 'id' column
oas_centroids.head()

# destination data
# green space sites' entrances
gs_entrances = gpd.read_file(greenspace_file,
                        layer = "AccessPoint")
gs_entrances.head()
# WPZ centroids
wpz_centroids = gpd.read_file(workingplacezones_centroids_file,
                              layer = "WPZ_centroids_tynewear")
wpz_centroids.head()
wpz_centroids['id'] = wpz_centroids['wz11cd'] # Destination dataset must contain an 'id' column

# network data
# uploaded in the sequent operation

In [107]:
# for testing purposes
# selecting from origin and destinations only a few points
# IE selecting first 10 rows
origins = oas_centroids.loc[:9, :]
destinations = wpz_centroids.loc[:9, :]

In [85]:
origins.head()

,OBJECTID,OA11CD,GlobalID,geometry,id
0,126926,E00041377,c03c9813-26f3-41f9-85e5-d4cdf3742ca0,POINT (425583.000 562952.000),E00041377
1,126927,E00041435,16e6607e-0b59-4f6f-8ec6-06a7396a70a5,POINT (427216.699 555732.531),E00041435
2,126928,E00041745,4b5fa995-b251-4ee7-9a97-aef0a2598fe3,POINT (427897.004 559557.605),E00041745
3,126929,E00041432,6e660884-3917-4e46-a693-bad0821318cb,POINT (427856.367 555759.595),E00041432
4,126930,E00041742,0bfb7f06-a910-4fa2-8db1-e79d319ba232,POINT (427932.556 559770.754),E00041742

In [ ]:
origins.explore()

In [ ]:
destinations.explore()

## 2. ttm generation and playing around

In [109]:
### load in transport network

transport_network = TransportNetwork(
    osm_data_file,
    [
        gtfs_data_file
    ]
)

In [110]:
# example of ttm generation
ttm_walking_OAtoGS = TravelTimeMatrixComputer(
    transport_network,
    origins=orig,
    destinations=dest,
    max_time=dt.timedelta(seconds=900), # restricting travel to 15min
    speed_walking=4.8,
    transport_modes=[LegMode.WALK]
)
ttm_walking_OAtoGS = ttm_walking_OAtoGS.compute_travel_times()
ttm_walking_OAtoGS.head()

# ttm_jobs_transit_OAtoWZ = TravelTimeMatrixComputer(
#     transport_network,
#     origins=oas_centroids_file,
#     destinations=wpz_centroids_wgs84,
#     departure=datetime.datetime(2023,1,19,8,30),
#     transport_modes=[TransitMode.TRANSIT,
#                      LegMode.WALK]
# )
# ttm_jobs_transit = ttm_jobs_transit.compute_travel_times()
# ttm_jobs_transit.head()

# destinations
# gs: entrances + oas centroids
# jobs: wpz centroids + oas centroids

     from_id      to_id  travel_time
0  E00041377  E33001228          NaN
1  E00041377  E33001229          NaN
2  E00041377  E33000136          NaN
3  E00041377  E33000137          NaN
4  E00041377  E33000134          NaN

In [90]:
from itertools import product
# generate dataframe with all from_id and all to_id pairs
prod = product(origins['id'].unique(),
               destinations['id'].unique())
empty_ttm = pd.DataFrame(prod)
empty_ttm.columns= ['from_id', 'to_id']
empty_ttm.head()

     from_id      to_id
0  E00041377  E33001228
1  E00041377  E33001229
2  E00041377  E33000136
3  E00041377  E33000137
4  E00041377  E33000134

In [ ]:
# # Create a default request for a given departure time
# req = otp.createRequest()
# req.setDateTime(2015, 9, 15, 10, 00, 00)  # set departure time
# req.setMaxTimeSec(7200)                   # set a limit to maximum travel time (seconds)
# req.setModes('WALK,BUS,RAIL')             # define transport mode
# req.setClampInitialWait(0)                # clamp the initial wait time to zero
# # req.maxWalkDistance = 3000                 # set the maximum distance (in meters) the user is willing to walk
# # req.walkSpeed = walkSpeed                 # set average walking speed ( meters ?)
# # req.bikeSpeed = bikeSpeed                 # set average cycling speed (miles per hour ?)
# # ?ERROR req.setSearchRadiusM(500)                 # set max snapping distance to connect trip origin to street network

# # Read Points of Destination - The file points.csv contains the columns GEOID, X and Y.
# points = otp.loadCSVPopulation('points.csv', 'Y', 'X')
# dests = otp.loadCSVPopulation('points.csv', 'Y', 'X')


# # Create a CSV output
# matrixCsv = otp.createCSVOutput()
# matrixCsv.setHeader([ 'origin', 'destination', 'walk_distance', 'travel_time', 'boardings' ])

# # Start Loop
# for origin in points:
#   print "Processing origin: ", origin
#   req.setOrigin(origin)
#   spt = router.plan(req)
#   if spt is None: continue

#   # Evaluate the SPT for all points
#   result = spt.eval(dests)
  
#   # Add a new row of result in the CSV output
#   for r in result:
#     matrixCsv.addRow([ origin.getStringData('GEOID'), r.getIndividual().getStringData('GEOID'), r.getWalkDistance() , r.getTime(),  r.getBoardings() ])

# # Save the result
# matrixCsv.save('traveltime_matrix.csv')

# # Stop timing the code

In [108]:
trial_comp = TravelTimeMatrixComputer(
    transport_network,
    origins=orig,
    destinations=dest,
    departure=dt.datetime(2023,1,19,8,30),
    transport_modes=[TransitMode.TRANSIT,
                     LegMode.WALK]
)
trial = trial_comp.compute_travel_times()
trial.isna().sum()

from_id             0
to_id               0
travel_time    153200
dtype: int64

In [99]:
# defining variables
# date_time = np.array([[2023],[1],[19],[9],[30]]).astype(int) #np.array([[2023],[1],[19],[8],[30]]).astype(int)
date_time='2023-01-19 9:30'
# modes = ('WALK,TRANSIT,CAR,BICYCLE') 
modes = ['BICYCLE', 'CAR', 'TRANSIT', 'WALK']
# max_time = dt.timedelta(seconds=12000)
leg_mode = 'WALK'
speed_walking = 4.8
speed_cycling=16

# for m in modes:
#     transport_mode = f'LegMode.{leg_mode}'
#     print('The current mode is:', m)
#     traveltimematrix = TravelTimeMatrixComputer(
#         transport_network,
#         origins=origins,
#         destinations=destinations,
#         # max_time=max_time, # restricting travel to 15min
#         speed_walking=speed_walking,
#         departure=dt.datetime.strptime(date_time, '%Y-%m-%d %H:%M'),
#         transport_modes=[transport_mode]
#     )


# transport_mode = f'TransitMode.CAR,LegMode.{leg_mode}'
traveltimematrix = TravelTimeMatrixComputer(
    transport_network,
    origins=origins,
    destinations=destinations,
    # max_time=max_time, # restricting travel to 15min
    # speed_walking=speed_walking,
    # departure=dt.datetime.strptime(date_time, '%Y-%m-%d %H:%M'),
    transport_modes=[TransitMode.TRANSIT]
)
    
ttm = traveltimematrix.compute_travel_times()
ttm.isna().sum()

from_id             0
to_id               0
travel_time    153200
dtype: int64

In [97]:
ttm.head()

     from_id      to_id  travel_time
0  E00041377  E33001228          NaN
1  E00041377  E33001229          NaN
2  E00041377  E33000136          NaN
3  E00041377  E33000137          NaN
4  E00041377  E33000134          NaN

In [35]:
a=list(str(12345))
for q in a:
    print(chr(int(q)))





